In [80]:
#LIBRARIES
import pandas as pd

# EXTRACTION AND VISUALIZATION OF THE DIFFERENT FILES

## World_Bank_Projects.xlsx

In [15]:
# Extract World_Bank_Projects.xlsx
World_Bank = pd.read_excel('World_Bank_Projects.xlsx')
World_Bank
world_bank = World_Bank.copy()

#We need to reformat the dataframe since the columns names are incompatible

world_bank

C:\Users\marco\anac\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,"World Bank Projects, data as of 11/04/2024 14:00:24 EST",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,Project ID,Region,Country,Project Status,Last Stage Reached Name,Project Name,Project Development Objective,Implementing Agency,Board Approval Date,Project Closing Date,...,IDA Commitment,Grant Amount,"Total IBRD, IDA and Grant Commitment",Borrower,Lending Instrument,Environmental Assessment Category,Environmental and Social Risk,Associated Project,Consultant Services Required,Financing Type
1,id,regionname,countryshortname,status,last_stage_reached_name,project_name,pdo,impagency,boardapprovaldate,closingdate,...,idacommamt,grantamt,curr_total_commitment,borrower,lendinginstr,envassesmentcategorycode,esrc_ovrl_risk_rate,supplementprojectflg,cons_serv_reqd_ind,projectfinancialtype
2,P000001,Africa,Africa,Closed,BANK APPROVED,West Africa Pilot Community-based Natural Reso...,CONSERVATION OF BIO-DIVERSITY. OBJECTIVE IS T...,NaN,1995-09-14T00:00:00Z,2004-06-30,...,NaN,11400000,11400000,NaN,Specific Investment Loan,B,NaN,N,NaN,Other
3,P000002,Africa,Africa,Dropped,BANK APPROVED,LAKE VICTORIA ENVIRO,NaN,NaN,1997-06-30T00:00:00Z,NaN,...,NaN,NaN,NaN,NaN,NaN,B,NaN,NaN,NaN,NaN
4,P000003,Africa,Africa,Closed,BANK APPROVED,REIMP(CEN.ENV.INFO),REIMP TO IMPROVE/STRENGTHEN PLANNING & MNGT. O...,NaN,1997-12-18T00:00:00Z,2003-06-30,...,NaN,16700000,16700000,NaN,Specific Investment Loan,C,NaN,N,NaN,Other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27057,P507717,South Asia,Pakistan,Pipeline,CONCEPT REVIEW,System Transformation of Early Education Proje...,Improve access and learning outcomes for girls...,School Education Department,2025-05-28T00:00:00Z,2029-06-30,...,NaN,9060000,9060000,Islamic Republic of Pakistan,Investment Project Financing,NaN,Moderate,NaN,TBD,Grants
27058,P507749,East Asia And Pacific,Samoa,Pipeline,CONCEPT REVIEW,"Pacific Region Preparedness, Adaptation and Re...",To improve the capacity of the Government Samo...,Ministry of Natural Resources and Environment,2025-08-28T00:00:00Z,2031-08-28,...,30000000,0,30000000,Independent State of Samoa,Investment Project Financing,NaN,Substantial,NaN,Yes,IDA
27059,P507881,Europe And Central Asia,Kosovo,Pipeline,CONCEPT REVIEW,Kosovo Financial Sector Development,To increase stability and inclusion of the Kos...,Deposit Insurance Fund of Kosovo-DIFK,2025-01-16T00:00:00Z,NaN,...,51000000,0,51000000,Minister of Finance,Investment Project Financing,NaN,Moderate,NaN,Yes,IDA
27060,P507912,Eastern And Southern Africa,Tanzania,Pipeline,CONCEPT REVIEW,United Republic of Tanzania - Catastrophe Defe...,The Project Development Objective is to streng...,Ministry of Finance and Planning,2025-03-28T00:00:00Z,2028-03-28,...,200000000,0,200000000,United Republic of Tanzania,Development Policy Lending,NaN,NaN,NaN,NaN,IDA
27061,P508578,Europe And Central Asia,Ukraine,Pipeline,BEGIN NEGOTIATION,Public Expenditures for Administrative Capacit...,To contribute to sustaining the government adm...,NaN,2024-11-21T00:00:00Z,NaN,...,4800000000,25293000700,33201000400,NaN,Investment Project Financing,NaN,NaN,Y,TBD,IBRD

In [88]:
#print(world_bank.iloc[0].tolist())
old_columns = ['World Bank Projects, data as of 11/04/2024 14:00:24 EST', 'Unnamed: 1',
       'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21']
new_columns = ['Project ID', 'Region', 'Country', 'Project Status', 'Last Stage Reached Name', 'Project Name', 'Project Development Objective ', 
               'Implementing Agency', 'Board Approval Date', 'Project Closing Date', 'Current Project Cost', 'IBRD Commitment', 'IDA Commitment', 
               'Grant Amount', 'Total IBRD, IDA and Grant Commitment', 'Borrower', 'Lending Instrument', 'Environmental Assessment Category', 
               'Environmental and Social Risk', 'Associated Project', 'Consultant Services Required', 'Financing Type']

world_bank.columns = new_columns
world_bank.head(2)

# World_Bank.loc[3].tolist()

,Project ID,Region,Country,Project Status,Last Stage Reached Name,Project Name,Project Development Objective,Implementing Agency,Board Approval Date,Project Closing Date,...,IDA Commitment,Grant Amount,"Total IBRD, IDA and Grant Commitment",Borrower,Lending Instrument,Environmental Assessment Category,Environmental and Social Risk,Associated Project,Consultant Services Required,Financing Type
1,id,regionname,countryshortname,status,last_stage_reached_name,project_name,pdo,impagency,boardapprovaldate,closingdate,...,idacommamt,grantamt,curr_total_commitment,borrower,lendinginstr,envassesmentcategorycode,esrc_ovrl_risk_rate,supplementprojectflg,cons_serv_reqd_ind,projectfinancialtype
2,P000001,Africa,Africa,Closed,BANK APPROVED,West Africa Pilot Community-based Natural Reso...,CONSERVATION OF BIO-DIVERSITY. OBJECTIVE IS T...,NaN,1995-09-14T00:00:00Z,2004-06-30,...,NaN,11400000,11400000,NaN,Specific Investment Loan,B,NaN,N,NaN,Other

## Since we updated columns names, we can delete the entire first row

In [17]:
# DROP THE FIRST ROW
world_bank = world_bank.tail(-1)
world_bank.head(2)

,Project ID,Region,Country,Project Status,Last Stage Reached Name,Project Name,Project Development Objective,Implementing Agency,Board Approval Date,Project Closing Date,...,IDA Commitment,Grant Amount,"Total IBRD, IDA and Grant Commitment",Borrower,Lending Instrument,Environmental Assessment Category,Environmental and Social Risk,Associated Project,Consultant Services Required,Financing Type
1,id,regionname,countryshortname,status,last_stage_reached_name,project_name,pdo,impagency,boardapprovaldate,closingdate,...,idacommamt,grantamt,curr_total_commitment,borrower,lendinginstr,envassesmentcategorycode,esrc_ovrl_risk_rate,supplementprojectflg,cons_serv_reqd_ind,projectfinancialtype
2,P000001,Africa,Africa,Closed,BANK APPROVED,West Africa Pilot Community-based Natural Reso...,CONSERVATION OF BIO-DIVERSITY. OBJECTIVE IS T...,NaN,1995-09-14T00:00:00Z,2004-06-30,...,NaN,11400000,11400000,NaN,Specific Investment Loan,B,NaN,N,NaN,Other

## electricity_access_percent.csv

In [92]:
electricity_access_percent = pd.read_csv('electricity_access_percent.csv', skiprows=4)

electricity_access_percent.head()
elec_access = electricity_access_percent.copy()
elec_access.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 62
0,Aruba,ABW,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,93.354546,93.356292,93.942375,94.255814,94.578262,94.906723,95.238182,95.570145,NaN,NaN
1,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,44.854885,42.700000,43.222019,69.100000,67.259552,89.500000,71.500000,84.137138,NaN,NaN
2,Angola,AGO,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,32.382469,33.514950,34.600000,35.821964,36.990490,32.000000,42.000000,40.520607,NaN,NaN
3,Albania,ALB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
4,Andorra,AND,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN

###

## gdp_data.csv

In [32]:
gdp_df = pd.read_csv("gdp_data.csv", skiprows = 4)
gdp = gdp_df.copy()

gdp.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 62
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.498933e+09,2.467704e+09,2.584464e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,1.248694e+10,1.593680e+10,1.793024e+10,2.053654e+10,2.026425e+10,2.061610e+10,1.921556e+10,1.946902e+10,2.081530e+10,NaN
2,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,7.549239e+10,8.252614e+10,1.041158e+11,1.139232e+11,1.249125e+11,1.267302e+11,1.026212e+11,9.533720e+10,1.242094e+11,NaN
3,Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.204421e+10,1.192695e+10,1.289087e+10,1.231978e+10,1.277628e+10,1.322824e+10,1.138693e+10,1.188368e+10,1.303935e+10,NaN
4,Andorra,AND,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.660531e+09,3.355695e+09,3.442063e+09,3.164615e+09,3.281585e+09,3.350736e+09,2.811489e+09,2.877312e+09,3.012914e+09,NaN

## mystery.csv

In [61]:
mystery_df = pd.read_csv("mystery.csv")
mystery = mystery_df.copy()
mystery.head()

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xff in position 0: invalid start byte

# WE NEED TO RESOLVE THE FOLLOWING ERROR BY FINDING THE CORRECT ENCODER: 

## 'utf-8' codec can't decode byte 0xff in position 0: invalid start byte

### https://www.geeksforgeeks.org/detect-encoding-of-csv-file-in-python/

In [65]:
!pip install chardet

Requirement already satisfied: chardet in c:\users\marco\anac\lib\site-packages (4.0.0)

In [66]:
import chardet

with open('mystery.csv', 'rb') as f:
    data = f.read()
encoding_result = chardet.detect(data)

encoding = encoding_result['encoding']
print(f"The right encoding format is: {encoding}")

The right encoding format is: UTF-16

In [67]:
mystery_df = pd.read_csv("mystery.csv", encoding ='UTF-16')
mystery = mystery_df.copy()
mystery.head()

,Unnamed: 0,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,0,Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,...,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0,105264.0
1,1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,...,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0
2,2,Angola,AGO,"Population, total",SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,...,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0,29784193.0
3,3,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,...,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0
4,4,Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,...,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0,76965.0

#

# population_data.csv

In [70]:
pop_df = pd.read_csv("population_data.csv", skiprows = 4)
pop = pop_df.copy()
pop.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 62
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,...,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0,105264.0,NaN
1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,9938414.0,...,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0,NaN
2,Angola,AGO,"Population, total",SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,6203299.0,...,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0,29784193.0,NaN
3,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,NaN
4,Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,...,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0,76965.0,NaN

#

# population_data.db

In [146]:
import sqlite3 

connection = sqlite3.connect('population_data.db')
pop_db = pd.read_sql('SELECT * FROM population_data', connection)

#

# population_data.json

In [96]:
import json 

with open('population_data.json', 'r') as file:
    pop_json = json.load(file)
#     print(pop_json)
    
json_population = pd.read_json("population_data.json")
json_population

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,...,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0,105264.0
1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,9938414.0,...,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0
2,Angola,AGO,"Population, total",SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,6203299.0,...,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0,29784193.0
3,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0
4,Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,...,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0,76965.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,"Population, total",SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,1078000.0,...,1747383.0,1761474.0,1775680.0,1791000.0,1805200.0,1824100.0,1821800.0,1801800.0,1816200.0,1830700.0
260,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,5172135.0,5260501.0,5351799.0,5446063.0,5543339.0,5643643.0,...,22356391.0,22974929.0,23606779.0,24252206.0,24909969.0,25576322.0,26246327.0,26916207.0,27584213.0,28250420.0
261,South Africa,ZAF,"Population, total",SP.POP.TOTL,17456855.0,17920673.0,18401608.0,18899275.0,19412975.0,19942303.0,...,50412129.0,50970818.0,51584663.0,52263516.0,52998213.0,53767396.0,54539571.0,55291225.0,56015473.0,56717156.0
262,Zambia,ZMB,"Population, total",SP.POP.TOTL,3044846.0,3140264.0,3240587.0,3345145.0,3452942.0,3563407.0,...,13082517.0,13456417.0,13850033.0,14264756.0,14699937.0,15153210.0,15620974.0,16100587.0,16591390.0,17094130.0
263,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,3747369.0,3870756.0,3999419.0,4132756.0,4269863.0,4410212.0,...,13558469.0,13810599.0,14086317.0,14386649.0,14710826.0,15054506.0,15411675.0,15777451.0,16150362.0,16529904.0

## So we can either use json.load() to display the json file as a simple note or use pd.read_json to display it as dataframe

#

# population_data.xml

In [101]:
#LET'S INSTALL LMXL TO PARSE XML/HTML DOCUMENTS

In [110]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\marco\anac\lib\site-packages (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\marco\anac\lib\site-packages (from beautifulsoup4) (2.3.2.post1)

In [116]:
# from bs4 import BeautifulSoup4
# from BeautifulSoup import BeautifulSoup
import bs4

In [120]:
from bs4 import BeautifulSoup

In [102]:
!pip install lxml

Requirement already satisfied: lxml in c:\users\marco\anac\lib\site-packages (4.9.1)

In [122]:
with open('population_data.xml', 'r') as f:
     pop_xml = f.read()

print(pop_xml)
# pop_xml = BeautifulSoup('population_data.xml', "xml")
# pop_xml

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [123]:
xml_population = pd.read_xml("population_data.xml")
xml_population

Empty DataFrame
Columns: [record]
Index: []

## Instead of converting the xml file into a dataframe, we can simply iterate through the file and display its content

In [126]:
def print_lines(n, file):
    '''
    n: number of lines being read
    file:name of the file
    '''
    f = open(file)
    for i in range(n):
        print(f.readline())
    f.close()

In [130]:
print_lines(30, 'population_data.xml')

ï»¿<?xml version="1.0" encoding="utf-8"?>

<Root xmlns:wb="http://www.worldbank.org">

  <data>

    <record>

      <field name="Country or Area" key="ABW">Aruba</field>

      <field name="Item" key="SP.POP.TOTL">Population, total</field>

      <field name="Year">1960</field>

      <field name="Value">54211</field>

    </record>

    <record>

      <field name="Country or Area" key="ABW">Aruba</field>

      <field name="Item" key="SP.POP.TOTL">Population, total</field>

      <field name="Year">1961</field>

      <field name="Value">55438</field>

    </record>

    <record>

      <field name="Country or Area" key="ABW">Aruba</field>

      <field name="Item" key="SP.POP.TOTL">Population, total</field>

      <field name="Year">1962</field>

      <field name="Value">56225</field>

    </record>

    <record>

      <field name="Country or Area" key="ABW">Aruba</field>

      <field name="Item" key="SP.POP.TOTL">Population, total</field>

      <field name="Year">1963</field>

      <field name="Value">56695</field>

    </record>

    <record>

      <field name="Country or Area" key="ABW">Aruba</field>

      <field name="Item" key="SP.POP.TOTL">Population, total</field>

#

# projects_data.csv

In [134]:
projects = pd.read_csv('projects_data.csv')
projects_df = projects.copy()

projects_df.iloc[44]

C:\Users\marco\AppData\Local\Temp\ipykernel_49208\2422812197.py:1: DtypeWarning: Columns (44) have mixed types. Specify dtype option on import or set low_memory=False.
  projects = pd.read_csv('projects_data.csv')

id                                                                    P167043
regionname                                       Middle East and North Africa
countryname                           Republic of Tunisia;Republic of Tunisia
prodline                                                                   PE
lendinginstr                                              Program-for-Results
lendinginstrtype                                                           PR
envassesmentcategorycode                                                  NaN
supplementprojectflg                                                        Y
productlinetype                                                             L
projectstatusdisplay                                                   Active
status                                                                 Active
project_name                Tunisia : Urban Development and Local Governan...
boardapprovaldate                                        2018-06-15T00:00:00Z
board_approval_month                                                     June
closingdate                                                               NaN
lendprojectcost                                                   428,000,000
ibrdcommamt                                                       130,000,000
idacommamt                                                                  0
totalamt                                                          130,000,000
grantamt                                                                    0
borrower                                                                  NaN
impagency                                                                 NaN
url                             http://projects.worldbank.org/P167043?lang=en
projectdoc                                                                NaN
majorsector_percent                                                       NaN
sector1                                                                  !$!0
sector2                                                                   NaN
sector3                                                                   NaN
sector4                                                                   NaN
sector5                                                                   NaN
sector                                                                    NaN
mjsector1                                                                 NaN
mjsector2                                                                 NaN
mjsector3                                                                 NaN
mjsector4                                                                 NaN
mjsector5                                                                 NaN
mjsector                                                                  NaN
theme1                                                                   !$!0
theme2                                                                    NaN
theme3                                                                    NaN
theme4                                                                    NaN
theme5                                                                    NaN
theme                                                                     NaN
goal                                                                      NaN
financier                                                                 NaN
mjtheme1name                                                              NaN
mjtheme2name                                                              NaN
mjtheme3name                                                              NaN
mjtheme4name                                                              NaN
mjtheme5name                                                              NaN
location                                                                  NaN
GeoLocID                                                                  NaN
GeoLocName                                                                NaN
Latitude                                                                  NaN
Longitude                                                                 NaN
Country                                                                   NaN
Unnamed: 56                                                               NaN
Name: 44, dtype: object

#

# rural_population_percent.csv

In [172]:
rural_pop = pd.read_csv('rural_population_percent.csv', skiprows= 4)
rural_pop_df = rural_pop.copy() 
rural_pop_df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 62
0,Aruba,ABW,Rural population (% of total population),SP.RUR.TOTL.ZS,49.224,49.239,49.254,49.270,49.285,49.300,...,56.579,56.941,57.302,57.636,57.942,58.221,58.472,58.696,58.893,NaN
1,Afghanistan,AFG,Rural population (% of total population),SP.RUR.TOTL.ZS,91.779,91.492,91.195,90.890,90.574,90.250,...,75.687,75.311,74.926,74.532,74.129,73.718,73.297,72.868,72.430,NaN
2,Angola,AGO,Rural population (% of total population),SP.RUR.TOTL.ZS,89.565,89.202,88.796,88.376,87.942,87.496,...,60.701,59.903,59.100,58.301,57.510,56.726,55.950,55.181,54.422,NaN
3,Albania,ALB,Rural population (% of total population),SP.RUR.TOTL.ZS,69.295,69.057,68.985,68.914,68.842,68.770,...,48.924,47.837,46.753,45.670,44.617,43.591,42.593,41.624,40.684,NaN
4,Andorra,AND,Rural population (% of total population),SP.RUR.TOTL.ZS,41.550,39.017,36.538,34.128,31.795,29.555,...,11.648,12.183,12.740,13.292,13.835,14.367,14.885,15.388,15.873,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,Rural population (% of total population),SP.RUR.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,"Yemen, Rep.",YEM,Rural population (% of total population),SP.RUR.TOTL.ZS,90.900,90.541,90.169,89.784,89.386,88.974,...,68.835,68.268,67.698,67.126,66.550,65.973,65.394,64.813,64.231,NaN
261,South Africa,ZAF,Rural population (% of total population),SP.RUR.TOTL.ZS,53.381,53.207,53.094,52.980,52.866,52.752,...,38.313,37.782,37.254,36.728,36.212,35.702,35.199,34.705,34.218,NaN
262,Zambia,ZMB,Rural population (% of total population),SP.RUR.TOTL.ZS,81.855,81.049,80.215,79.288,77.985,76.628,...,61.701,61.275,60.847,60.413,59.973,59.528,59.078,58.621,58.160,NaN
263,Zimbabwe,ZWE,Rural population (% of total population),SP.RUR.TOTL.ZS,87.392,87.179,86.918,86.422,85.908,85.380,...,66.622,66.804,66.985,67.166,67.346,67.499,67.624,67.723,67.793,NaN

# Let's access APIs

In [145]:
import requests
url = 'http://api.worldbank.org/v2/countries/br;cn;us;de/indicators/SP.POP.TOTL/?format=json&per_page=1000'
x = requests.get(url)
x.json()
# print(x.text)

[{'page': 1,
  'pages': 1,
  'per_page': 1000,
  'total': 256,
  'sourceid': '2',
  'lastupdated': '2024-10-24'},
 [{'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2023',
   'value': 216422446,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2022',
   'value': 215313498,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2021',
   'value': 214326223,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2020',
   'value': 213196304,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2019',
   'value': 211782878,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2018',
   'value': 210166592,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2017',
   'value': 208504960,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2016',
   'value': 206859578,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2015',
   'value': 205188205,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2014',
   'value': 203459650,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2013',
   'value': 201721767,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2012',
   'value': 199977707,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2011',
   'value': 198185302,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2010',
   'value': 196353492,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2009',
   'value': 194517549,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2008',
   'value': 192672317,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2007',
   'value': 190779453,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2006',
   'value': 188820682,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2005',
   'value': 186797334,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2004',
   'value': 184722043,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2003',
   'value': 182629278,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2002',
   'value': 180476685,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2001',
   'value': 178211881,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2000',
   'value': 175873720,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1999',
   'value': 173486281,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1998',
   'value': 171039804,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1997',
   'value': 168546707,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1996',
   'value': 166037122,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1995',
   'value': 163515328,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1994',
   'value': 160980472,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1993',
   'value': 158440875,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1992',
   'value': 155900790,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1991',
   'value': 153336445,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1990',
   'value': 150706446,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1989',
   'value': 148003411,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1988',
   'value': 145253973,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1987',
   'value': 142466264,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1986',
   'value': 139643355,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1985',
   'value': 136783180,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1984',
   'value': 133888775,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1983',
   'value': 130977370,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1982',
   'value': 128065095,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1981',
   'value': 125168060,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1980',
   'value': 122288383,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1979',
   'value': 119447303,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1978',
   'value': 116664382,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1977',
   'value': 113939886,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1976',
   'value': 111286504,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1975',
   'value': 108700515,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1974',
   'value': 106167372,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1973',
   'value': 103666904,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1972',
   'value': 101194394,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1971',
   'value': 98766288,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1970',
   'value': 96369875,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1969',
   'value': 94000381,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1968',
   'value': 91659246,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1967',
   'value': 89323288,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1966',
   'value': 86979283,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1965',
   'value': 84623747,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1964',
   'value': 82262794,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1963',
   'value': 79915555,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1962',
   'value': 77599218,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1961',
   'value': 75330008,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1960',
   'value': 73092515,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2023',
   'value': 1410710000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2022',
   'value': 1412175000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2021',
   'value': 1412360000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2020',
   'value': 1411100000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2019',
   'value': 1407745000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2018',
   'value': 1402760000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2017',
   'value': 1396215000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2016',
   'value': 1387790000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2015',
   'value': 1379860000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2014',
   'value': 1371860000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2013',
   'value': 1363240000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2012',
   'value': 1354190000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2011',
   'value': 1345035000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2010',
   'value': 1337705000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2009',
   'value': 1331260000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2008',
   'value': 1324655000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2007',
   'value': 1317885000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2006',
   'value': 1311020000,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'country': {'id': 'CN', 'value': 'China'},

#

# TRANSFORMATION PHASE

## In this phase, I will start by observing the relationship between the different datasets

In [148]:
dataframe_names = ['rural_pop_df', 'json_population', 'pop_db', 'pop', 'mystery', 'gdp', 'elec_access', 'world_bank']
dataframe_names

['rural_pop_df',
 'json_population',
 'pop_db',
 'pop',
 'mystery',
 'gdp',
 'elec_access',
 'world_bank']

In [160]:
print(f'json_population columns: {json_population.columns}')

print("\n")
print(f"rural_pop_df columns:{rural_pop_df}")

print("\n")
print(f"pop columns{pop.columns}")


print("\n")
print(f"gdp columns: {gdp.columns}")

print("\n")
print(f"elec_access columns: {elec_access.columns}")

print("\n")
print(f"world_bank columns:{world_bank.columns}")

json_population columns: Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017'],
      dtype='object')


rural_pop_df columns:     Country Name Country Code                            Indicator Name  \
0           Aruba          ABW  Rural population (% of total population)
1     Afghanistan          AFG  Rural population (% of total population)
2          Angola          AGO  Rural population (% of total population)
3         Albania          ALB  Rural population (% of total population)
4         Andorra          AND  Rural population (% of total population)
..            ...          ...                                       ...
259        Kosovo          XKX  Rural population (% of total population)
260   Yemen, Rep.          YEM  Rural population (% of total population)
261  South Africa          ZAF  Rural population (% of total population)
262        Zambia          ZMB  Rural population (% of total population)
263      Zimbabwe          ZWE  Rural population (% of total population)

     Indicator Code    1960    1961    1962    1963    1964    1965  ...  \
0    SP.RUR.TOTL.ZS  49.224  49.239  49.254  49.270  49.285  49.300  ...
1    SP.RUR.TOTL.ZS  91.779  91.492  91.195  90.890  90.574  90.250  ...
2    SP.RUR.TOTL.ZS  89.565  89.202  88.796  88.376  87.942  87.496  ...
3    SP.RUR.TOTL.ZS  69.295  69.057  68.985  68.914  68.842  68.770  ...
4    SP.RUR.TOTL.ZS  41.550  39.017  36.538  34.128  31.795  29.555  ...
..              ...     ...     ...     ...     ...     ...     ...  ...
259  SP.RUR.TOTL.ZS     NaN     NaN     NaN     NaN     NaN     NaN  ...
260  SP.RUR.TOTL.ZS  90.900  90.541  90.169  89.784  89.386  88.974  ...
261  SP.RUR.TOTL.ZS  53.381  53.207  53.094  52.980  52.866  52.752  ...
262  SP.RUR.TOTL.ZS  81.855  81.049  80.215  79.288  77.985  76.628  ...
263  SP.RUR.TOTL.ZS  87.392  87.179  86.918  86.422  85.908  85.380  ...

       2009    2010    2011    2012    2013    2014    2015    2016    2017  \
0    56.579  56.941  57.302  57.636  57.942  58.221  58.472  58.696  58.893
1    75.687  75.311  74.926  74.532  74.129  73.718  73.297  72.868  72.430
2    60.701  59.903  59.100  58.301  57.510  56.726  55.950  55.181  54.422
3    48.924  47.837  46.753  45.670  44.617  43.591  42.593  41.624  40.684
4    11.648  12.183  12.740  13.292  13.835  14.367  14.885  15.388  15.873
..      ...     ...     ...     ...     ...     ...     ...     ...     ...
259     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
260  68.835  68.268  67.698  67.126  66.550  65.973  65.394  64.813  64.231
261  38.313  37.782  37.254  36.728  36.212  35.702  35.199  34.705  34.218
262  61.701  61.275  60.847  60.413  59.973  59.528  59.078  58.621  58.160
263  66.622  66.804  66.985  67.166  67.346  67.499  67.624  67.723  67.793

     Unnamed: 62
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
..           ...
259          NaN
260          NaN
261          NaN
262          NaN
263          NaN

[264 rows x 63 columns]


pop columnsIndex(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', 'Unnamed: 62'],
      dtype='object')


gdp columns: Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', 'Unnamed: 62'],
      dtype='object')


elec_access columns: Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', 'Unnamed: 62'],
      dtype='object')


world_bank columns:Index(['Project ID', 'Region', 'Country', 'Project Status',
       'Last Stage Reached Name', 'Project Name',
       'Project Development Objective ', 'Implementing Agency',
       'Board Approval Date', 'Project Closing Date', 'Current Project Cost',
       'IBRD Commitment', 'IDA Commitment', 'Grant Amount',
       'Total IBRD, IDA and Grant Commitment', 'Borrower',
       'Lending Instrument', 'Environmental Assessment Category',
       'Environmental and Social Risk', 'Associated Project',
       'Consultant Services Required', 'Financing Type'],
      dtype='object')

In [179]:
elec_access.isnull().sum()

# rural_pop_df
# # rural_pop_df.drop(['Unnamed: 62'], axis = 1, inplace = True)
# rural_pop_df.head()
# elec_access

Country Name        0
Country Code        0
Indicator Name      0
Indicator Code      0
1960              264
                 ...
2014                3
2015                3
2016                3
2017              264
Unnamed: 62       264
Length: 63, dtype: int64

## From this result, we can see some values are missing for certain years. Let's determine what years more specifically.

In [180]:
elec_access_columns = elec_access.columns.tolist()

for c in elec_access_columns:
    print(f"For {c} we have {elec_access[c].nunique()} different value(s)\n")

For Country Name we have 264 different value(s)

For Country Code we have 264 different value(s)

For Indicator Name we have 1 different value(s)

For Indicator Code we have 1 different value(s)

For 1960 we have 0 different value(s)

For 1961 we have 0 different value(s)

For 1962 we have 0 different value(s)

For 1963 we have 0 different value(s)

For 1964 we have 0 different value(s)

For 1965 we have 0 different value(s)

For 1966 we have 0 different value(s)

For 1967 we have 0 different value(s)

For 1968 we have 0 different value(s)

For 1969 we have 0 different value(s)

For 1970 we have 0 different value(s)

For 1971 we have 0 different value(s)

For 1972 we have 0 different value(s)

For 1973 we have 0 different value(s)

For 1974 we have 0 different value(s)

For 1975 we have 0 different value(s)

For 1976 we have 0 different value(s)

For 1977 we have 0 different value(s)

For 1978 we have 0 different value(s)

For 1979 we have 0 different value(s)

For 1980 we have 0 different value(s)

For 1981 we have 0 different value(s)

For 1982 we have 0 different value(s)

For 1983 we have 0 different value(s)

For 1984 we have 0 different value(s)

For 1985 we have 0 different value(s)

For 1986 we have 0 different value(s)

For 1987 we have 0 different value(s)

For 1988 we have 0 different value(s)

For 1989 we have 0 different value(s)

For 1990 we have 162 different value(s)

For 1991 we have 176 different value(s)

For 1992 we have 179 different value(s)

For 1993 we have 178 different value(s)

For 1994 we have 179 different value(s)

For 1995 we have 182 different value(s)

For 1996 we have 182 different value(s)

For 1997 we have 181 different value(s)

For 1998 we have 184 different value(s)

For 1999 we have 182 different value(s)

For 2000 we have 184 different value(s)

For 2001 we have 184 different value(s)

For 2002 we have 180 different value(s)

For 2003 we have 183 different value(s)

For 2004 we have 185 different value(s)

For 2005 we have 184 different value(s)

For 2006 we have 183 different value(s)

For 2007 we have 184 different value(s)

For 2008 we have 185 different value(s)

For 2009 we have 183 different value(s)

For 2010 we have 182 different value(s)

For 2011 we have 181 different value(s)

For 2012 we have 177 different value(s)

For 2013 we have 176 different value(s)

For 2014 we have 170 different value(s)

For 2015 we have 162 different value(s)

For 2016 we have 139 different value(s)

For 2017 we have 0 different value(s)

For Unnamed: 62 we have 0 different value(s)

In [168]:
## WE CAN MERGE DATAFRAMES ABOUT ELECTRICITY_ACCESS AND GDP 
## TO ANALYZE THEIR CORRELATION

df_ru_elec = pd.concat([rural_pop_df,elec_access])
df_ru_elec.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 62
0,Aruba,ABW,Rural population (% of total population),SP.RUR.TOTL.ZS,49.224,49.239,49.254,49.270,49.285,49.300,...,56.579,56.941,57.302,57.636,57.942,58.221,58.472,58.696,58.893,NaN
1,Afghanistan,AFG,Rural population (% of total population),SP.RUR.TOTL.ZS,91.779,91.492,91.195,90.890,90.574,90.250,...,75.687,75.311,74.926,74.532,74.129,73.718,73.297,72.868,72.430,NaN
2,Angola,AGO,Rural population (% of total population),SP.RUR.TOTL.ZS,89.565,89.202,88.796,88.376,87.942,87.496,...,60.701,59.903,59.100,58.301,57.510,56.726,55.950,55.181,54.422,NaN
3,Albania,ALB,Rural population (% of total population),SP.RUR.TOTL.ZS,69.295,69.057,68.985,68.914,68.842,68.770,...,48.924,47.837,46.753,45.670,44.617,43.591,42.593,41.624,40.684,NaN
4,Andorra,AND,Rural population (% of total population),SP.RUR.TOTL.ZS,41.550,39.017,36.538,34.128,31.795,29.555,...,11.648,12.183,12.740,13.292,13.835,14.367,14.885,15.388,15.873,NaN